<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<header>
		
		<h1>檢視</h1>
	</header>

	<nav>
		<a href="/api/coupons/index">回到首頁</a> <a href="/api/coupons/Coupon">回到優惠卷管理</a> 
	</nav>
	<form class="header-container" method="post" action="/api/coupons/deleteQuery"
		th:if="deleteCount != null">
		<input type="submit" name="deleteQuery" value="刪除這些資料">
		<h3 th:if="${count != null}" th:text="|共找到 ${count} 筆資料|"></h3>
	</form>
	<div th:if="${deleteCount != null}">
		<h3 th:text="'已刪除' + ${deleteCount} + '筆資料'"></h3>
	</div>
 <div class="container">
	<table th:if="${count > 0}" id="dataTable">
		<thead>
			<tr>
			    <th>標題</th>
				<th>庫存</th>
				<th>副標題</th>
				<th>內容</th>
				<th>狀態</th>
				<th>網站名稱</th>
				<th>圖片</th>
				<th>開始時間</th>
				<th>到期時間</th>
				<th>優惠卷代碼</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="row : ${query}"><td>
    <a th:href="@{/api/coupons/Coupon(couponId=${row.couponId}, title=${row.title},
     subtitle=${row.subtitle}, content=${row.content}, state=${row.state}, web=${row.web}, picture=${row.picture})}">
        [[${row['title']}]]</a></td>
				
				<td th:text="${row.subtitle ?: 'N/A'}"></td>
				<td th:text="${row.content ?: 'N/A'}"></td>
				<td th:text="${row.state != null && row.state ? '有效' : '無效'}"></td>
				<td th:text="${row.web ?: 'N/A'}"></td>
				<td><img th:src="${row.picture ?: '/upload/default.png'}" width="50"></td>
				<td th:text="${row.couponId ?: 'N/A'}"></td>
				<td th:text="${row.couponCode ?: 'N/A'}"></td>
			</tr>
		</tbody>
	</table>
	</div>
<script>
        $(document).ready(function() {
            
            $('#dataTable').DataTable({
                "ordering": true,  
                "paging": true,    
                "searching": true, 
                "info": true,      
                "lengthChange": false,
                "pageLength": 20,
                "autoWidth": false 
            });
        });
    </script>
</body>
</html>