<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
    function clearForm() {
        var inputs = document.querySelectorAll("input[type='text'], input[type='number'], input[type='file'], input[type='datetime-local']");
        inputs.forEach(function(input) {
            input.value = "";
        });
    }
</script>
</head>
<body>
<header>
		<h1>新增</h1>
	</header>
	<nav>
		<a href="/api/coupons/index">回到首頁</a>
	</nav>
	<form action="/api/coupons/Coupon" method="post" enctype="multipart/form-data">
		<table>
			<tr>
				<td>流水號(id):</td>
				<td><input type="hidden" name="couponId"
					th:value="${param['couponId'] ?: ''}"></td>
				<td><span th:if="${errors != null}"
					th:text="${errors['couponId'] ?: ''}"></span></td>
			</tr>
			<tr>
				<td>優惠倦代碼:</td>
				<td><input type="text" name="couponCode"
					th:value="${param['couponCode'] ?: ''}"></td>
				<td><span th:if="${errors != null}"
					th:text="${errors['couponCode'] ?: ''}"></span></td>
			</tr>
			
			<tr>
				<td>標題:</td>
				<td><input type="text" name="title"
					th:value="${param['title'] ?: ''}"></td>
				<td><span th:if="${errors != null}"
					th:text="${errors['title'] ?: ''}"></span></td>
			</tr>
			<tr>
				<td>副標題:</td>
				<td><input type="text" name="subtitle" 
				    th:value="${param['subtitle'] ?: ''}"></td>
				<td><span th:if="${errors != null}"
					th:text="${errors['subtitle'] ?: ''}"></span></td>
			</tr>
			<tr>
				<td>內容:</td>
				<td><input type="text" name="content"
					th:value="${param['content'] ?: ''}"></td>
				<td><span th:if="${errors != null}"
					th:text="${errors['content'] ?: ''}"></span></td>
			</tr>
			
			<tr>
				<td>網站:</td>
				<td><input type="text" name="web"
					th:value="${param['web'] ?: ''}"></td>
				<td><span th:if="${errors != null}"	
				    th:text="${errors['web'] ?: ''}"></span></td>
			</tr>
			<tr>
				<td>圖片:</td>
				<td><input type="file" name="picture" 
				    th:value="${param['picture'] ?: ''}"></td>
				<td><span th:if="${errors != null}"
					th:text="${errors['picture'] ?: ''}"></span></td>
			</tr>
			<tr>
				<td>優惠卷開始:</td>
				<td><input type="datetime-local" name="startTime"
					th:value="${param['startTime'] ?: ''}"></td>
				<td><span th:if="${errors != null}"
					th:text="${errors['startTime'] ?: ''}"></span></td>
			</tr>
			<tr>
				<td>優惠卷期限:</td>
				<td><input type="datetime-local" name="endTime"
					th:value="${param['endTime'] ?: ''}"></td>
				<td><span th:if="${errors != null}"
					th:text="${errors['endTime'] ?: ''}"></span></td>
			</tr>
		</table>
		<table>
			<tr>
				<td><input type="submit" name="playerModify" value="新增">
					<input type="submit" name="playerModify" value="修改">
                    <input type="submit" name="playerModify" value="刪除"> 
                    <input type="submit" name="query" value="查詢">
                    <input type="button" value="清空" onclick="clearForm()">
			</tr>
		</table>
	</form>
	<div th:if="${errors != null}">
		<h3 th:text="${errors['action']}"></h3>
	</div>

	<div th:if="${insert != null}">
		<h3 th:text="${insert}"></h3>
		<script type="text/javascript">clearForm()</script>
	</div>

	<div th:if="${update != null}">
		<h3 th:text="${update}"></h3>
		<script type="text/javascript">clearForm()</script>
	</div>

	<div th:if="${delete != null}">
		<h3 th:text="${delete}"></h3>
		<script type="text/javascript">clearForm()</script>
	</div>
	<p>新增時不得填入ID (由系統生成)</p>

</body>
</html>